@* Generator : Template GeneratePrettyNames : true BaseType: SP.Web.UserEmails.CourseParticipantEmailBase *@
@using SP.DataAccess
@inherits SP.Web.UserEmails.CourseParticipantEmailBase

@functions{
    public Participant Auth { get; set; }
    public bool IsChanged { get; set; }
}
@{ Layout = new SP.Web.UserEmails.LayoutTemplate { Title = "Confirmation Changed" }; }

<row>
    <columns small="12">
        <callout class="info">
            <p>
                @Auth.FullName has
                <strong>
                    @(IsChanged?"accepted":"declined")
                </strong>
                your request to change confirmation status.
            </p>
            <p>
                @CourseParticipant.Participant.FullName @(IsChanged?"is now":"remains") registered as
                @(CourseParticipant.IsConfirmed.Value?"attending":"not attending").
            </p>
        </callout>
        <p>
            If you would like to discuss this further, you may wish to contact one of the organiser(s) below:
        </p>
        @if(!IsChanged) {
        <ul>
            @foreach(var o in (from cp in CourseParticipant.Course.CourseParticipants where cp.IsOrganiser select cp.Participant)){
            <li>
                <a href="mailto:@(o.Email)">@o.FullName</a> Tel: @o.PhoneNumber
            </li>
            }
        </ul>
        }
    </columns>
</row>



