@* Generator : Template GeneratePrettyNames : true BaseType: SP.Web.UserEmails.CourseParticipantEmailBase *@
@using SP.DataAccess
@inherits SP.Web.UserEmails.CourseParticipantEmailBase

@functions{
    public string GetNotificationUrl(bool canAttend)
    {
        return  $"{BaseUrl}index.html#/rsvp?ParticipantId={CourseParticipant.ParticipantId}&CourseId={CourseParticipant.CourseId}&Attending=" + (canAttend ? "1" : "0");
    }
}
@{ Layout = new SP.Web.UserEmails.LayoutTemplate { Title = "Course Invitation" }; }
<callout class="primary">
    <p>
        You have been added as a @(CourseParticipant.IsFaculty?"faculty member":"participant") to an upcoming 
        @CourseParticipant.Course.CourseFormat.CourseType.Description 
        @if (!CourseParticipant.Course.CourseFormat.CourseType.Description.EndsWith("course", StringComparison.OrdinalIgnoreCase)){
            @:Course
        }
    </p>
    <p class="lead">Please check the details below and then confirm your availability.</p>
</callout>
<dl>
    <dt>When</dt>
    <dd>
        <p>
            @string.Format(FormatProvider, "{0:D} at {0:t}", CourseParticipant.Course.StartLocal)
        </p>
        <p class="details">
            (finishing @CourseParticipant.Course.FinishCourseLocal().ToString("g",FormatProvider))
        </p>
    </dd>

    <dt>Department</dt>
    <dd>
        @CourseParticipant.Course.Department.Institution.Name - @CourseParticipant.Course.Department.Name 
    </dd>

    <dt>Where</dt>
    <dd>
        <p>@CourseParticipant.Course.Room.ShortDescription</p>
        <p class="details">(@CourseParticipant.Course.Room.FullDescription)</p>
    </dd>
</dl>
<h5>Organiser(s)</h5>
<ul>
    @foreach (var o in (from cp in CourseParticipant.Course.CourseParticipants where cp.IsOrganiser select cp.Participant))
    {
        <li>
            <a href="@GetMailTo(o)">@o.FullName</a> @o.PhoneNumber
        </li>
    }
</ul>

<hr/>

<row>
    <columns large="6">
        <center>
            <button class="success radius" href="@GetNotificationUrl(true)">Confirm</button>
        </center>
    </columns>
    <columns large="6">
        <center>
            <button class="alert radius" href="@GetNotificationUrl(false)">I'm Unavailable</button>
        </center>
    </columns>
</row>