@* Generator : Template GeneratePrettyNames : true BaseType: SP.Web.UserEmails.EmailBase *@
@using SP.DataAccess
@inherits SP.Web.UserEmails.EmailBase
@functions{
    public Participant PersonResponding { get; set; }
    public IEnumerable<Course> Courses { get; set; }
}
@{
    Layout = new SP.Web.UserEmails.LayoutTemplate
    {
        Title = "Invitation Response"
    };
    FormatProvider = Courses.First().Department.Institution.Culture.CultureInfo;
}
<row>
    <columns large="12">
        <callout class="primary">
            <p>
                <a href="@GetMailTo(PersonResponding)">@PersonResponding.FullName</a>
                <small>(@PersonResponding.Department.Abbreviation @PersonResponding.ProfessionalRole.Description)</small>
                has responded to your invitation.
            </p>
        </callout>
        <p>
            Listed below are your upcoming courses
        </p>
    </columns>
</row>
<row>
    <columns>
        <table>
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Reqd.
                    </th>
                    <th>
                        @PersonResponding.FullName.Substring(0,PersonResponding.FullName.IndexOf(' '))
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Courses)
                {
                    <tr>
                        <td>
                            @string.Format(FormatProvider, "{0:d} {0:t}", c.StartFacultyLocal)
                        </td>
                        <td>
                            @c.CourseFormat.Description
                            (@c.CourseFormat.CourseType.Description)
                        </td>
                        <td>
                            @(c.CourseParticipants.Count(cp => cp.IsFaculty && cp.IsConfirmed != false))/@(c.FacultyNoRequired)
                        </td>
                        <td>
                            @if (c.CourseParticipants.Any(cp=>cp.ParticipantId == PersonResponding.Id))
                            {
                                <span class="label success round">&#x2713;</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </columns>
</row>