@* Generator : Template TypeVisibility : Internal GeneratePrettyNames : true BaseType: SP.Web.UserEmails.CourseParticipantEmailBase *@
@using SP.DataAccess
@inherits SP.Web.UserEmails.CourseParticipantEmailBase

@functions{
    public string AuthorizationToken { get; set; }
    public string GetNotificationUrl(bool canAttend)
    {
        return BaseUrl + $"#/rsvp?ParticipantId={CourseParticipant.ParticipantId}&CourseId={CourseParticipant.CourseId}&Attending={(canAttend ? '1' : '0')}&Auth=" + AuthorizationToken;
    }
}
@{ Layout = new SP.Web.UserEmails.LayoutTemplate
    {
        Title = string.Format(FormatProvider, "participant request to alter confirmation for {0} on {1:d}",
                                     CourseParticipant.Course.CourseFormat.CourseType.Abbreviation,
                                     CourseParticipant.Course.StartLocal)
    };
}

<callout class="primary">
    <row>
        <p>
            @CourseParticipant.Participant.FullName
            <small>
                @CourseParticipant.Participant.ProfessionalRole.Description
            </small>
            had been confirmed as @(CourseParticipant.IsConfirmed.Value?"attending":"unable to attend")
            as a @(CourseParticipant.IsFaculty?"faculty member":"participant")
            in the @CourseName on the @CourseParticipant.Course.StartLocal.ToString("g",FormatProvider)
        </p>
        <p>
            However, he/she would like to <strong>change this response</strong> to being 
            @(CourseParticipant.IsConfirmed.Value?"unable":"able") to attend.
        </p>
    </row>
</callout>
<row>
    <p class="small"><em>Note:</em> you can also change the confirmation status for any or all participants by logging in <a href="<#= GetCourseRef() #>">here</a></p>
</row>
<row>
    <h3>Contact details for @CourseParticipant.Participant.FullName:</h3>
    <dl>
        <dt>Email</dt>
        <dd><a href="@GetMailTo(CourseParticipant.Participant)">@CourseParticipant.Participant.Email</a></dd>
        @if (CourseParticipant.Participant.PhoneNumber != null)
        {
            <dt>
                Phone
            </dt>
            <dd>
                CourseParticipant.Participant.PhoneNumber
            </dd>
        }
    </dl>
</row>

<hr/>
<row>
    <columns>
        <center>
            <button class="success radius" href="@GetNotificationUrl(true)">Confirm</button>
        </center>
    </columns>
    <columns>
        <center>
            <button class="alert radius" href="@GetNotificationUrl(false)">I'm Unavailable</button>
        </center>
    </columns>
</row>
		